
@import "tailwindcss";
/* @import "flowbite/src/themes/default"; */

@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import "flowbite/src/themes/default.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

/* @theme {
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    
    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
} */


  html {
    scroll-behavior: smooth;
  }

  /* Estilos para la barra de scroll en su conjunto */
  .scrollbar-custom::-webkit-scrollbar {
      width: 10px; /* Ancho de la barra de scroll */
      border: solid 0.5px #12a86ad5;
  }

  /* Estilos para la pista (track) de la barra de scroll */
  .scrollbar-custom::-webkit-scrollbar-track {
      background-color: transparent; /* Color de fondo de la pista */
      border-radius: 10px;
  }

  /* Estilos para el pulgar (thumb) de la barra de scroll */
  .scrollbar-custom::-webkit-scrollbar-thumb {
      background-color: #12a86ad5; /* Color del pulgar */
  }

  /* Estilos al pasar el ratón sobre el pulgar */
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background-color: #00ff95;
  }


/* Eliminar autofill azul de Chrome */
input:-webkit-autofill {
  -webkit-text-fill-color: currentColor;
}

/* Chrome, Edge, Opera y Safari */
input:-webkit-autofill {
  -webkit-text-fill-color: #fff; /* color del texto */
  transition: background-color 5000s ease-in-out 0s; /* evita el parpadeo */
}

/* Si quieres personalizar también cuando está en hover o focus */
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}


.input-group {
  position: relative;
  width: 80%;
  margin: auto;
}

.input-field {
  width: 100%;
  padding: 7px 5px;
  padding-left: 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: transparent;
  outline: none;
}

.input-label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #182f75;
  padding: 0 4px;
  color: white;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Cuando el input está en foco o tiene texto */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 14px;
}